# Ignore secrets.sh
secrets.sh

# ignore .env
.env

# Ignore psql/ and ploader/ Folders since they will contain the Database Password
psql/
**/psql/
**/psql/*
pgloader/
**/pgloader/
**/pgloader/*

# Ignore tests
test/
**/test/
**/test/*
tests/
**/tests/
**/tests/*

# Ignore source data
source/
**/source/
**/source/*
sourcedata/
**/sourcedata/
**/sourcedata/*

# Ignore homeassistant temporary data for populating tables
homeassistant/
**/homeassistant/
**/homeassistant/*

# Ignore Backups Folder
backup/
**/backup/
**/backup/*

# Ignore Build Folder
build/
**/build/
**/build/*

