#!/bin/bash

# Real File Name & Path
DATABASE_SOURCE_FILE_NAME="home-assistant_v2.db"
DATABASE_SOURCE_FILE_REAL_PATH="./sourcedata/${DATABASE_SOURCE_FILE_NAME}"

# Inside Migration Container
DATABASE_SOURCE_FILE_CONTAINER_PATH="/sourcedata"

#DATABASE_SOURCE_DB=""
#DATABASE_SOURCE_USER=""
#DATABASE_SOURCE_PASSWORD=""
#DATABASE_SOURCE_HOST=""
#DATABASE_SOURCE_PORT""

# File Connection String (SQLITE3)
DATABASE_SOURCE_STRING="sqlite://${DATABASE_SOURCE_FILE_CONTAINER_PATH}/${DATABASE_SOURCE_FILE_NAME}"

# URL Connection String (Other: MariaDB, ...)
#DATABASE_SOURCE_STRING="mysql://${DATABASE_SOURCE_USER}:${DATABASE_SOURCE_PASSWORD}@${DATABASE_SOURCE_HOST}:${DATABASE_SOURCE_PORT}/${DATABASE_SOURCE_DB}"



# Define Destination Database Parameters
DATABASE_DESTINATION_DB="MY_DATABASE"
DATABASE_DESTINATION_USER="MY_USER"
DATABASE_DESTINATION_PASSWORD="MY_PASSWORD"

# When using Docker Migration Container, this must be a `network-alias` type, whose resolution is handled by Docker/Podman (typically this is the same as the Name of the Container)
# Do NOT use the Default `podman` Network in this mode, since DNS Resolution is disabled for the default `podman` Network !!
DATABASE_DESTINATION_HOST="migration-timescaledb-testing"

# When using Remote Migration from e.g. a Desktop or simply running this on the Docker Host
# This can be an IP address or a FQDN hostname (if you have DNS Name Resolution configured in your Network)
# !! WARNING - This (by default and unless the Database Server is properly configured) will send Data and Password in Plain Text and is there a SECURITY RISK !!
#DATABASE_DESTINATION_HOST="192.168.x.y"

DATABASE_DESTINATION_PORT="5432"

# Destination Database Connection String (PostgreSQL)
DATABASE_DESTINATION_STRING="postgresql://${DATABASE_DESTINATION_USER}:${DATABASE_DESTINATION_PASSWORD}@${DATABASE_DESTINATION_HOST}:${DATABASE_DESTINATION_PORT}/${DATABASE_DESTINATION_DB}"

# Docker/Podman INTERNAL Network(s) to access the Database Server(s)
CONTAINER_NETWORK=()
CONTAINER_NETWORK+=("homeassistant_internal")
CONTAINER_NETWORK+=("database_internal")
