#!/bin/bash

# Define Source Database Parameters
DATABASE_SOURCE_FILE="./MY_FILE"
DATABASE_SOURCE_STRING="sqlite://${DATABASE_FILE}"

# Define Destination Database Parameters
DATABASE_DESTINATION_DB="MY_DATABASE"
DATABASE_DESTINATION_USER="MY_USER"
DATABASE_DESTINATION_PASSWORD="MY_PASSWORD"

# When using Docker Migration Container, this must be a `network-alias` type, whose resolution is handled by Docker/Podman (typically this is the same as the Name of the Container)
# Do NOT use the Default `podman` Network in this mode, since DNS Resolution is disabled for the default `podman` Network !!
#DATABASE_DESTINATION_HOST="my-container-name"

# When using Remote Migration from e.g. a Desktop or simply running this on the Docker Host
# This can be an IP address or a FQDN hostname (if you have DNS Name Resolution configured in your Network)
#DATABASE_DESTINATION_HOST="192.168.x.y"

DATABASE_DESTINATION_PORT="5432"

DATABASE_DESTINATION_STRING="postgresql://${DATABASE_DESTINATION_USER}:${DATABASE_DESTINATION_PASSWORD}@${DATABASE_DESTINATION_HOST}:${DATABASE_DESTINATION_PORT}/${DATABASE_DESTINATION_DB}"
